# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
# nvim settings
!init.vim
!init.lua
# coc settings
!coc-settings.json

# Whitelist
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
# nvim plug-vim
!autoload/plug.vim
!ftplugin
!lua
!vsnip_snippets
!archive
